<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">Google Classroom Manager V.1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <li><a class="dropdown-item" href="/courses">View courses</a></li>
            <li><a class="dropdown-item" href="/courses_create_edit">Create/Edit courses</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>